# PYTHON PRACTICE PROBLEM DAY 2

1.Write a Python Program to accept the details of a student like name, roll number and mark and display it.

In [1]:
name= input("Enter the name: ")
roll_no=int(input("Enter the Roll number: "))
mark=int(input("Enter the mark :"))

Enter the name: Anisha
Enter the Roll number: 21
Enter the mark :78

In [2]:
print("Name : ",name)
print("Roll No : ",roll_no)
print("Mark : ",mark)

Name :  Anisha
Roll No :  21
Mark :  78

2.Write a Python program to convert temperatures to and from Celsius Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f= temperature in Fahrenheit.]

In [25]:
tempf=int(input("Enter the temperature in Fahrenheit : "))
c=int(input("Enter the temperature in Celsius : "))

Enter the temperature in Fahrenheit : 41
Enter the temperature in Celsius : 5

In [27]:
tempc=((tempf-32)/9)*5
f=((9/5)*c)+32
print("Temperature in Celsius : ",tempc)
print("Temperature in Fahrenheit : ",f)

Temperature in Celsius :  5.0
Temperature in Fahrenheit :  41.0

3.Write a Python program to accept two numbers from the user and display
its product.

In [5]:
a=int(input("Enter the first number : "))
b=int(input("Enter the secound Number : "))

Enter the first number : 4
Enter the secound Number : 45

In [6]:
product=a*b
print("Product of ",a, "and ",b," : ",product)

Product of  4 and  45  :  180

4.Write a Python program to accept a string “Learn Python by Developing a Website” and display the string like “Learn**Python** by Developing a **Website**”

In [28]:
string= "Learn Python by Developing a Website"
print(string)

Learn Python by Developing a Website

In [29]:
new_string = string.replace("Python", "**Python**").replace("Website", "**Website**")
print(new_string)

Learn **Python** by Developing a **Website**

5.Write a Python program to accept the radius of a circle and display its area.

In [8]:
import math
r=float(input("Enter the radius of the circle"))
area=math.pi*r**2
print("The Area of the circle is ", area)

Enter the radius of the circle8
The Area of the circle is  201.06192982974676

6.Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)

In [9]:
numbers = [1, 2, 3, 4, 5]
number = int(input("Enter the number to be inserted: "))
position = int(input("Enter the position to insert the number: "))
numbers.insert(position-1, number)
print(numbers)

Enter the number to be inserted: 7
Enter the position to insert the number: 6
[1, 2, 3, 4, 5, 7]

7.Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [10]:
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
new_name = input("Enter the new name for the city: ")
sample_dict["city"] = new_name

print(sample_dict)

Enter the new name for the city: location
{'name': 'John', 'age': 5, 'salary': 8000, 'city': 'location'}

In [11]:
#keys in a dictionary cannot be changed once created

8.Write a Python program to change Brad’s salary to 8500 in the following dictionary.
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [12]:
sample_dict = { 
    'emp1': {'name': 'John', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
                }
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

9.Write a program to copy elements 43 and 54 from the following tuple into a
new tuple. Given:
tuple1 = (10, 20, 43, 54, 56, 68)

In [15]:
tuple1=(10,20,43,54,56,68)
new_tuple=(tuple1[2],tuple1[3])
print(new_tuple)

(43, 54)

10.Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [16]:
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
count = tuple1.count(50)
print("The number of occurrences of 50 is:", count)

The number of occurrences of 50 is: 3